<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .container{
          margin: auto;
          width:50%;
          padding: 30px;
          background:#802b2b;
        }
    </style>
</head>
<body>
<div class="container">
    <h1 data-th-text="${name}">Welcome to My Page</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis doloremque fugiat incidunt laborum numquam
        quidem rerum similique. Dicta exercitationem, fugit hic inventore ipsa nam, nobis obcaecati quaerat quam, saepe
        voluptatem.
    </p>
    <a href="index.html">Click here to jump on index page</a>
</div>
</body>
</html>